*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;/* You can add global styles to this file, and also import other style files */

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    background: #3023ae;
    background: -moz-linear-gradient(60deg,#3023ae 0%, #c86dd7 100%);
    background: -webkit-linear-gradient(60deg,#3023ae 0%, #c86dd7 100%);
    background: linear-gradient(60deg,#3023ae 0%, #c86dd7 100%);
    filter: progid:DCImageTransform.Microsoft.gradient(startColorstr='3023ae');
}
button{
    cursor: pointer;
}
ul{
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    
}
li{
    padding: 10px;;
}
button{
    background: #00CED1;
    background: -moz-linear-gradient(60deg,#00CED1 0%, #c86dd7 100%);
    background: -webkit-linear-gradient(60deg,#00CED1 0%, #c86dd7 100%);
    background: linear-gradient(60deg,#00CED1 0%, #c86dd7 100%);
}